{% extends 'base/private.html' %}

{% block title %}Areas{% endblock %}

{% block content %}

    <section class="post-list">
        <div class="container">
            <div class="panel">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Area</th>
                            <th>Milestones</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.name.title }}</td>
                                <td>{{ object.milestone_set.count }}</td>
                                <td>{{ object.created_at }}</td>
                                <td>
                                    <div class="btn-group">
                                    <a class="btn btn-primary" href="#">View</a>
                                    <a class="btn btn-success" href="#">Edit</a>
                                    <a class="btn btn-danger" href="#">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}