{% extends 'base/private.html' %}

{% block title %}{{ action }} Milestone Translation{% endblock %}

{% block content %}
    <section class="post-form">
        <div class="container">
            <div class="form-content horizontal-center">
                <form action="." method="post">
                    <h2>{{ action }} Milestone Translation</h2>
                    <br>
                    {% if delete_message %}
                        <p>{{ delete_message }}</p>
                        <br>
                    {% endif %}
                    {% csrf_token %}
                    <p>
                        <label for="">Milestone Code: </label>
                        <input type="text" value="{{ milestone.code }}" disabled>
                    </p>
                    <p>
                        <label for="">Milestone Name: </label>
                        <input type="text" value="{{ milestone.name }}" disabled>
                    </p>

                    {% if delete_message %}
                        <p>
                            <label for="">Language: </label>
                            <input type="text" value="{{ object.language }}" disabled>
                        </p>
                        {% if object.language_code %}
                            <p>
                                <label for="">Language Code: </label>
                                <input type="text" value="{{ object.language_code }}" disabled>
                            </p>
                        {% endif %}
                        <p>
                            <label for="">Translation Name: </label>
                            <input type="text" value="{{ object.name }}" disabled>
                        </p>
                        <p>
                            <label for="">Milestone Description: </label>
                            <input type="text" value="{{ object.description }}" disabled>
                        </p>
                    {% endif %}
                    {{ form.as_p }}
                    <input type="submit" value="{{ action }} Milestone Translation">
                </form>
            </div>
        </div>
    </section>
{% endblock %}