{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
    {% if lang == 'es' %}Reporte semanal{% endif %}
    {% if lang == 'en' %}Weekly report{% endif %}
    {% if lang == 'ar' %}تقرير أسبوعي{% endif %}
    </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- ChartsJs -->
    <script src="{% static 'chartjs/dist/Chart.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.bundle.min.js"></script>

    <style>
        div{
            font-size:2vw;
            text-align: center;
        }
        .container {
          position: relative;
          text-align: center;
        }
        .centered {
          position: absolute;
          top: 85%;
          left: 50%;
          transform: translate(-50%, -30%);
        }
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
        .h1{
          text-align: center;
          font-size:4vw;
        }
        .h2{
          text-align: center;
          font-size:3vw;
          padding: 20px;
        }
        .row{
          width: 100%;
          margin-left: 10px;
          margin-right: 10px;
          padding: 10px;
          margin: 0;
        }
        canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			width: 100%;
		}
		.rcorners {
          border-radius: 5px 50px 50px 5px;
          padding: 10px;
          width: 100%;
          height: auto;
          text-align: left;
          font-size: 1.7vw;
        }
        img{
            max-height: 100%;
            max-width: 100%;
        }
        [class*="col-"]:not(.weekly) {
            max-height: 100%;
            max-width: 100%;
	    }
    </style>
</head>
<body>
<div class="row" style="width:100%; margin:0px;">
    <div class="col-4"></div>
    <div class="col-4">
        <img class="center" src="{% static 'images/Elementos_1080x1080_nene.png' %}" alt="Nene" style="width:100%;">
        <div class="centered" style="font-size:3vw; width:100%">{{ object.name }}</div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-12 h1">
    {% if lang == 'es' %}Reporte semanal de tu peque{% endif %}
    {% if lang == 'en' %}Weekly report of your little one{% endif %}
    {% if lang == 'ar' %}تقرير أسبوعي عن طفلك الصغير{% endif %}
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-4" style="font-size:15px;">
        <img class="center" src="{% static 'images/Elementos_1080x1080_estrella.png' %}" alt="estrella" style="width:40%;">
        <b id="estrellas"></b>
        {% if lang == 'es' %}Sesiones completadas{% endif %}
        {% if lang == 'en' %}Completed sessions{% endif %}
        {% if lang == 'ar' %}اكتملت الجلسات{% endif %}
    </div>
    <div class="col-4" style="font-size:15px;">
        <img class="center" src="{% static image_name %}" style="width:40%;">
        {{ etapa }}
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-12 h2">
    {% if lang == 'es' %}Actividades completadas esta semana{% endif %}
    {% if lang == 'en' %}Activities completed this week{% endif %}
    {% if lang == 'ar' %}اكتملت الأنشطة هذا الأسبوع{% endif %}
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <canvas id="chart0"></canvas>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-12">
    {% if lang == 'es' %}Últimos 5 días{% endif %}
    {% if lang == 'en' %}Last 5 days{% endif %}
    {% if lang == 'ar' %}آخر 5 أيام{% endif %}
    </div>
</div>
<div class="row" style="height:100px; padding:0px;">
    <div class="col-1"></div>
    <div class="col-2 weekly">
        <canvas id="chart1"></canvas>
    </div>
    <div class="col-2 weekly">
        <canvas id="chart2"></canvas>
    </div>
    <div class="col-2 weekly">
        <canvas id="chart3"></canvas>
    </div>
    <div class="col-2 weekly">
        <canvas id="chart4"></canvas>
    </div>
    <div class="col-2 weekly">
        <canvas id="chart5"></canvas>
    </div>
    <div class="col-1"></div>
</div>
<br><br>
<div class="row">
    <div class="col-12 h2">
    {% if lang == 'es' %}Trabajo por área{% endif %}
    {% if lang == 'en' %}Work by area{% endif %}
    {% if lang == 'ar' %}العمل حسب المنطقة{% endif %}
    </div>
</div>
<div class="row" style="height:50px; padding: 5px;">
    <div class="col-2"></div>
    <div class="col-1" style="padding:0px;">
        <img class="center" src="{% static 'images/Elementos_1080x1080_motor.png' %}" alt="Motor" style="height:100%;">
    </div>
    <div class="col-7">
        <p class="rcorners" id="trabajo_motor" style="padding: 0; background-image: linear-gradient(to right, rgba(255,0,0,0), #a06ade);">
        {% if lang == 'es' %}Desarrollo motor{% endif %}
        {% if lang == 'en' %}Motor development{% endif %}
        {% if lang == 'ar' %}التطور الحركي{% endif %}
        </p>
    </div>
    <div class="col-1" id="trabajo_motor_pts"></div>
    <div class="col-1"></div>
</div>
<div class="row" style="height:50px; padding: 5px;">
    <div class="col-2"></div>
    <div class="col-1" style="padding:0px;">
        <img class="center" src="{% static 'images/Elementos_1080x1080_cognitivo.png' %}" alt="Cognitivo" style="height:100%;">
    </div>
    <div class="col-7">
        <p class="rcorners" id="trabajo_cognitivo" style="padding: 0; background-image: linear-gradient(to right, rgba(255,0,0,0), #ebbd3f);">
        {% if lang == 'es' %}Desarrollo cognitivo{% endif %}
        {% if lang == 'en' %}Cognitive development{% endif %}
        {% if lang == 'ar' %}التطور المعرفي{% endif %}
        </p>
    </div>
    <div class="col-1" id="trabajo_cognitivo_pts"></div>
    <div class="col-1"></div>
</div>
<div class="row" style="height:50px; padding: 5px;">
    <div class="col-2"></div>
    <div class="col-1" style="padding:0px;">
        <img class="center" src="{% static 'images/Elementos_1080x1080_socioe.png' %}" alt="Socio-emocional" style="height:100%;">
    </div>
    <div class="col-7">
        <p class="rcorners" id="trabajo_socio" style="padding: 0; background-image: linear-gradient(to right, rgba(255,0,0,0), #6ab061);">
        {% if lang == 'es' %}Desarrollo socio-emocional{% endif %}
        {% if lang == 'en' %}Socio-emotional development{% endif %}
        {% if lang == 'ar' %}التطور الاجتماعي والعاطفي{% endif %}
        </p>
    </div>
    <div class="col-1" id="trabajo_socio_pts"></div>
    <div class="col-1"></div>
</div>
<br><br><br><br>
<div class="row">
    <div class="col-4"></div>
    <img class="col-4 center" src="{% static 'images/afini_logo.png' %}" alt="Afinidata" style="height:80px; width:110px;">
    <div class="col-4"></div>
</div>
<br><br>
</body>
<script>
    Chart.pluginService.register({
      beforeDraw: function(chart) {
        if (chart.config.options.elements.center) {
          // Get ctx from string
          var ctx = chart.chart.ctx;

          // Get options from the center object in options
          var centerConfig = chart.config.options.elements.center;
          var fontStyle = centerConfig.fontStyle || 'Arial';
          var txt = centerConfig.text;
          var color = centerConfig.color || '#000';
          var maxFontSize = centerConfig.maxFontSize || 75;
          var sidePadding = centerConfig.sidePadding || 20;
          var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
          // Start with a base font of 30px
          ctx.font = "30px " + fontStyle;

          // Get the width of the string and also the width of the element minus 10 to give it 5px side padding
          var stringWidth = ctx.measureText(txt).width;
          var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

          // Find out how much the font can grow in width.
          var widthRatio = elementWidth / stringWidth;
          var newFontSize = Math.floor(30 * widthRatio);
          var elementHeight = (chart.innerRadius * 2);

          // Pick a new font size so it will not be larger than the height of label.
          var fontSizeToUse = Math.min(newFontSize, elementHeight, maxFontSize);
          var minFontSize = centerConfig.minFontSize;
          var lineHeight = centerConfig.lineHeight || 25;
          var wrapText = false;

          if (minFontSize === undefined) {
            minFontSize = 20;
          }

          if (minFontSize && fontSizeToUse < minFontSize) {
            fontSizeToUse = minFontSize;
            wrapText = true;
          }

          // Set font settings to draw it correctly.
          ctx.textAlign = 'center';
          ctx.textBaseline = 'middle';
          var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
          var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
          ctx.font = fontSizeToUse + "px " + fontStyle;
          ctx.fillStyle = color;

          if (!wrapText) {
            ctx.fillText(txt, centerX, centerY);
            return;
          }

          var words = txt.split(' ');
          var line = '';
          var lines = [];

          // Break words up into multiple lines if necessary
          for (var n = 0; n < words.length; n++) {
            var testLine = line + words[n] + ' ';
            var metrics = ctx.measureText(testLine);
            var testWidth = metrics.width;
            if (testWidth > elementWidth && n > 0) {
              lines.push(line);
              line = words[n] + ' ';
            } else {
              line = testLine;
            }
          }

          // Move the center up depending on line height and number of lines
          centerY -= (lines.length / 2) * lineHeight;

          for (var n = 0; n < lines.length; n++) {
            ctx.fillText(lines[n], centerX, centerY);
            centerY += lineHeight;
          }
          //Draw text in center
          ctx.fillText(line, centerX, centerY);
        }
      }
    });


var config0 = {
  type: 'doughnut',
  data: {
    labels: [
      "Completadas",
      "Faltantes"
    ],
    datasets: [{
      data: [30, 5],
      backgroundColor: [
        "#FF6384",
        "#d9d9d9"
      ],
      hoverBackgroundColor: [
        "#292cd6",
        "#d9d9d9"
      ]
    }]
  },
  options: {
    elements: {
      center: {
        text: '78%',
        color: '#792ad4', // Default is #000000
        fontStyle: 'Arial', // Default is Arial
        sidePadding: 60, // Default is 20 (as a percentage)
        minFontSize: 15, // Default is 20 (in px), set to false and text will not wrap.
        lineHeight: 25 // Default is 25 (in px), used for when text wraps
      }
    },
    legend: {
        display: false,
        labels: {
            fontColor: 'rgb(255, 99, 132)'
        }
    },
    cutoutPercentage: 70
  }
};

var ctx0 = document.getElementById("chart0").getContext("2d");
var ctx1 = document.getElementById("chart1").getContext("2d");
var ctx2 = document.getElementById("chart2").getContext("2d");
var ctx3 = document.getElementById("chart3").getContext("2d");
var ctx4 = document.getElementById("chart4").getContext("2d");
var ctx5 = document.getElementById("chart5").getContext("2d");

config1 = JSON.parse(JSON.stringify(config0));
config2 = JSON.parse(JSON.stringify(config0));
config3 = JSON.parse(JSON.stringify(config0));
config4 = JSON.parse(JSON.stringify(config0));
config5 = JSON.parse(JSON.stringify(config0));

var gradientStroke = ctx0.createLinearGradient(document.getElementById('chart0').offsetWidth*0.6, 0, document.getElementById('chart0').offsetWidth*0.3, document.getElementById('chart0').offsetHeight*0.8);
gradientStroke.addColorStop(0, "#711dd1");
gradientStroke.addColorStop(0.6, "#4457d4");
gradientStroke.addColorStop(1, "#40dfff");

config0.data.datasets[0].backgroundColor[0] = gradientStroke;

var gradientStroke = ctx0.createLinearGradient(document.getElementById('chart1').offsetWidth*0.6, 0, document.getElementById('chart1').offsetWidth*0.3, document.getElementById('chart1').offsetHeight*0.8);
gradientStroke.addColorStop(0, "#792ad4");
gradientStroke.addColorStop(0.6, "#4457d4");
gradientStroke.addColorStop(1, "#40dfff");

config1.data.datasets[0].backgroundColor[0] = gradientStroke;
config2.data.datasets[0].backgroundColor[0] = gradientStroke;
config3.data.datasets[0].backgroundColor[0] = gradientStroke;
config4.data.datasets[0].backgroundColor[0] = gradientStroke;
config5.data.datasets[0].backgroundColor[0] = gradientStroke;

config0.options.elements.center.text = Math.min(100, Math.round(100*{{ activities }}[0]/(5*{{ objective }})))+"%";
config1.options.elements.center.text = "";
config2.options.elements.center.text = "";
config3.options.elements.center.text = "";
config4.options.elements.center.text = "";
config5.options.elements.center.text = "";

config0.options.cutoutPercentage = 80;

config0.data.datasets[0].data[0] = {{ activities }}[0];
config1.data.datasets[0].data[0] = {{ activities }}[1];
config2.data.datasets[0].data[0] = {{ activities }}[2];
config3.data.datasets[0].data[0] = {{ activities }}[3];
config4.data.datasets[0].data[0] = {{ activities }}[4];
config5.data.datasets[0].data[0] = {{ activities }}[5];

config0.data.datasets[0].data[1] = Math.max(5*{{ objective }} - config0.data.datasets[0].data[0], 0);
config1.data.datasets[0].data[1] = Math.max({{ objective }} - config1.data.datasets[0].data[0], 0);
config2.data.datasets[0].data[1] = Math.max({{ objective }} - config2.data.datasets[0].data[0], 0);
config3.data.datasets[0].data[1] = Math.max({{ objective }} - config3.data.datasets[0].data[0], 0);
config4.data.datasets[0].data[1] = Math.max({{ objective }} - config4.data.datasets[0].data[0], 0);
config5.data.datasets[0].data[1] = Math.max({{ objective }} - config5.data.datasets[0].data[0], 0);

var chart0 = new Chart(ctx0, config0);
var chart1 = new Chart(ctx1, config1);
var chart2 = new Chart(ctx2, config2);
var chart3 = new Chart(ctx3, config3);
var chart4 = new Chart(ctx4, config4);
var chart5 = new Chart(ctx5, config5);

var trabajo_total = 0.01+{{trabajo_motor}}+{{trabajo_cognitivo}}+{{trabajo_socio}};
document.getElementById("trabajo_motor").style.width = Math.min(Math.round(60*{{trabajo_motor}}/trabajo_total+40), 100) + "%";
document.getElementById("trabajo_cognitivo").style.width = Math.min(Math.round(60*{{trabajo_cognitivo}}/trabajo_total+40), 100) + "%";
document.getElementById("trabajo_socio").style.width = Math.min(Math.round(60*{{trabajo_socio}}/trabajo_total+40), 100) + "%";
document.getElementById("trabajo_motor_pts").innerHTML = Math.min(Math.round(100*{{trabajo_motor}}/trabajo_total), 100) + "%";
document.getElementById("trabajo_cognitivo_pts").innerHTML = Math.min(Math.round(100*{{trabajo_cognitivo}}/trabajo_total), 100) + "%";
document.getElementById("trabajo_socio_pts").innerHTML = Math.min(Math.round(100*{{trabajo_socio}}/trabajo_total), 100) + "%";
document.getElementById("estrellas").innerHTML = {{ activities }}[0];
</script>
</html>
