{% extends 'base/private.html' %}

{% block title %}
    Topic List
{% endblock %}

{% block content %}
    <section class="post-list">
        <div class="container">
            <a href="{% url 'articles:topic_create' %}" class="btn">Create Topic</a>
            <ul>
                {% for object in object_list %}
                    <li>
                    <topic class="panel">
                        <h2>{{ object.name }} <small>{{ object.created_at }}</small></h2>
                        <div style="width: 100%">
                            <h3>Stats: </h3>
                            <ul>
                                <li><strong>Name: </strong><span>{{ object.name }}</span></li>
                            </ul>
                        </div>
                        <div style="width: 100%;">
                            <a href="{% url 'articles:topic_edit' topic_id=object.pk %}" class="btn" style="display: inline;">Edit</a>
                        </div>
                    </topic>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </section>
{% endblock %}