{% extends 'base/private.html' %}

{% block title %}Milestone {{ object.pk }}{% endblock %}

{% block content %}

    <section class="post-list">
        <div class="container">
            <div class="panel">
                <div>
                    <div>
                        <h2>Milestone: {{ object }}</h2>

                        <strong class="text-gray-900">ID: </strong>{{ object.pk }}<br>
                        <strong class="text-gray-900">Areas: </strong>
                        <ul style="margin-bottom: 0; margin-left: 20px;">
                            {% for area in object.areas.all %}
                                <li>{{ area }}</li>
                            {% endfor %}
                        </ul>
                        <strong class="text-gray-900">Second Code: </strong>{{ object.second_code }}<br>
                        <strong class="text-gray-900">Value: </strong>{{ object.value }}<br>
                        <strong class="text-gray-900">Source: </strong>{{ object.source }}<br>
                        <strong class="text-gray-900">Secondary Value: </strong>{{ object.secondary_value }}<br>
                        <strong class="text-gray-900">Created At: </strong>{{ object.created_at }}<br>
                        <strong class="text-gray-900">Last Updated At: </strong>{{ object.updated_at }}<br>
                        <strong class="text-gray-900">Actions: </strong>
                        <div class="btn-group">
                            {% if perms.milestones.change_milestone %}
                                <a class="btn btn-success" href="{% url 'milestones:edit' milestone_id=milestone.pk %}">
                                    Edit
                                </a>
                            {% endif %}
                            {% if perms.milestones.delete_milestone %}
                                <a class="btn btn-danger" href="{% url 'milestones:delete' milestone_id=milestone.pk %}">
                                    Delete
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

            <div class="panel">
                <div class="d-flex justify-content-between" style="width: 100%; margin-bottom: 2em;">
                    <h4>Translations</h4>
                    <a href="{% url 'milestones:create_translation' milestone_id=object.pk %}" class="btn btn-primary">Create Translation</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Language</th>
                        <th>Language Code</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for translation in milestone.milestonetranslation_set.all %}
                        <tr>
                            <td>{{ translation.name }}</td>
                            <td>{{ translation.description }}</td>
                            <td>{{ translation.language }}</td>
                            <td>
                                {% if translation.language_code %}
                                    {{ translation.language_code }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'milestones:edit_translation' milestone_id=object.pk translation_id=translation.pk %}"
                                       class="btn btn-success">Edit</a>
                                    <a href="{% url 'milestones:delete_translation' milestone_id=object.pk translation_id=translation.pk %}"
                                       class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}